<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="HCK">
  <title>体质类型测评问卷</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <style type="text/css">
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  </style>
</head>

<!-- <body role="document" background="../../img/background.jpg"> -->
  <!-- Main component -->
  <div id="main" class="container-fluid center" role="main">
    <div id="questionnaire">
      <div class="text-center">
        <h1>体质类型测评问卷</h1>
        <h3>请您根据近一年的体验和感觉，回答以下问题：</h3>
      </div>

      <div id="questionnaire-content">
      <!-- 题目 -->
      </div>

      <div id="submit-btn" class="text-center">
        <button id="done-btn" type="button" class="btn btn-success">提交</button>
      </div>
    </div>

    <div id="questionnaire-result" hidden>
      <div id="questionnaire-result-content">
      <!-- 结果 -->
      </div>

      <div id="reset-btn" class="text-center">
        <button id="reset-btn" type="button" class="btn btn-danger">再做一次</button>
      </div>
    </div>
  </div>
    
    <script type="text/javascript">

    $(document).ready(function(){
      var questions = [
      "容易呼吸短促，接不上气",
      "常感到口苦、口臭或嘴里有异味",
      "经常大便干结",
      "常感到乳房以两侧胁肋部胀痛",
      "经常大便稀溏，小便颜色清、量多",
      "常感到身体四肢等酸困沉重不轻松，或不爽快",
      "眼睛经常有红丝（充血）",
      "容易对药物、食物、气味、花粉、季节过敏",
      "喜欢安静，不喜欢说话，说话声音低弱",
      "面部和鼻尖油光发亮，易生粉刺、疮疖",
      "常常感觉手脚心发热",
      "多愁善感，感情脆弱，容易感到害怕或容易被惊吓",
      "常常手脚发凉",
      "容易出黏汗且汗出黏腻不爽，手足心潮湿多汗",
      "皮肤常在不知不觉中出现紫斑（皮下出血），刷牙时牙龈容易出血",
      "即使不感冒也经常鼻塞、打喷嚏、流鼻涕，甚至发生哮喘",
      "经常感到疲乏无力",
      "经常大便粘滞不爽",
      "面颊潮红或偏红，经常感觉身体或脸上发热",
      "常常感到闷闷不乐，情绪低落，无缘无故地叹气",
      "胃脘部经常怕冷",
      "眼胞容易肿",
      "各种疼痛经常出现",
      "皮肤容易起荨麻疹",
      "容易感冒",
      "小便有热感，常常尿色发黄",
      "眼睛容易干涩",
      "易紧张，易心慌、心跳快，焦虑不安，容易失眠",
      "衣服比别人穿得多，耐受不了冬天的寒冷，夏天耐受不了空调房间的冷气",
      "平时痰多",
      "面色晦暗或者有色素沉着，黑眼圈、面部色斑",
      "皮肤常一抓就红，并出现抓痕",
      "常出虚汗",
      "女性常带下色黄，男性阴囊易潮湿多汗",
      "经常口干咽燥",
      "喉部经常有堵塞感或异物感",
      "吃（喝）凉的东西感到不舒服",
      "嘴里常常有黏黏的或甜腻的感觉",
      "皮肤干燥、粗糙",
      "皮肤常因过敏出现紫红色瘀点、瘀斑"
      ];

      var types = [
      "气虚质",
      "湿热质",
      "阴虚质",
      "气郁质",
      "阳虚质",
      "痰湿质",
      "瘀血质",
      "特禀质",
      "平和质"
      ];

      var count = 1;
      for (var i = 0; i < questions.length; i++) {
        $("#questionnaire-content").append('<p>' + count + '.' + questions[i] + '</p>')
          .append('<div id="question' + count + 'options"><div class="radio"><label><input type="radio" name="optionsRadios' + count + '" value="true">是</label></div><div class="radio"><label><input type="radio" name="optionsRadios' + count + '" value="false">否</label></div></div>');
        count ++;
      }
      
      $("#done-btn").click(function() {
        $("#questionnaire").hide();

        var results = [[],[],[],[],[],[],[],[]];
        for (var i = 0; i < results.length; i++) {
          for (var j = 0; j < 5; j++) {
            results[i][j] = getQuestionOptionWithNumber(i+1+j*results.length);
          }
        }

        var typeResult = [];
        for (var i = 0; i < results.length; i++) {
          if (getCountInArray(results[i]) >= 3) {
            typeResult.push(i);
          }
        }

        var resultComponent = $("<div/>");
        if (typeResult.length == 0) {
          resultComponent.append($("<h2/>").text(types[8])).addClass("text-center");
        } else {
          for (var i = 0; i < typeResult.length; i++) {
            resultComponent.append($("<h2/>").text(types[typeResult[i]])).addClass("text-center");
          }
        }
        $("#questionnaire-result-content").append(resultComponent);

        $("#questionnaire-result").show();        
      });
  
      $("#reset-btn").click(function() {
        $("#questionnaire-result").hide();
        $("#questionnaire-result-content").empty();
        $("#questionnaire").show();
      });

      function getQuestionOptionWithNumber(n) {
        return $('input[name="optionsRadios' + n + '"]:checked').val();
      }

      function getCountInArray(arr) {
        var count = 0;
        for (var i = 0; i < arr.length; i++) {
          if (arr[i] === "true") {
            count ++;
          }
        }
        return count;
      }
    });
    </script>
</body>
</html>